
<div class="main-content">
    <div class="header-content">
      <div class="emp-details-text">
        Employee Details
        <div class="emp-count">10</div>
      </div>
      <div>
        <button class="add-button" (click) = "btnClick()">
          <img src="../assets/icons/add-24px.svg" alt="">
          <span>Add User</span>
        </button>
      </div>
    </div>

    <div class="table-main">
      <table id="table-display" class="table">
        <tr> 
            <th></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>Actions</th>
        </tr>  
      </table>
    </div>

</div>
  
<router-outlet></router-outlet>